.wrapper {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

h1 {
text-align: center;
}

label {
	font-size: 1.25em;
	margin-bottom: .25em;
	margin-top: .25em;
}

input:not([type="radio"]):not([type="checkbox"]), label {
	display: block;
}

.wrapper input  {
	margin: 0 auto;
}

button {
	margin-top: 1em;
}
